/* line 1, ../sass/main.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 10, ../sass/main.scss */
#bgd-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: blur(3px);
}

/* line 23, ../sass/main.scss */
#content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  transform: translate(-50%, -50%);
  padding: 5px;
  z-index: 2;
}

/* line 37, ../sass/main.scss */
#my-navbar {
  border-radius: 0;
}

/* line 41, ../sass/main.scss */
.nav-text {
  color: white;
}
