body {
  padding: 0;
  margin: 0;
}
.my-container {
  position: relative;
  height: 100vh;
}
.content-box {
  position: absolute;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 70%;
  padding: 5px;
}
.onScroll-navbar {
  background-color: rgba(0, 0, 0, 1);
}
#my-navbar {
  border-radius: 0;
  :hover {
    background-color: transparent;
  }
  a {
    color: white;
    &:hover {
      text-decoration: underline;
    }
    &:link {
      background-color: transparent;
    }
  }
  .navbar-header {
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
#bgd-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: blur(3px);
}
#second-container {
  background-color: white;
}
#intro {
  position: absolute;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  transform: translate(-50%, -50%);
  padding: 5px;
  z-index: 2;
}
#projects {
  background-color: dodgerblue;
  top: 55%;
  left: 25%;
}
#resume {
  background-color: red;
  top: 50%;
  left: 50%;
}
#paper {
  background-color: white;
  top: 60%;
  left: 75%;
}
